/* Add your custom extension styling here */
.dark .user-widget-label{
    color: #222222;
}

.user-widget.shadow .user-icon{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.user-widget-system-label.vertical{
    text-align: center;
    font-weight: normal;
    padding-top: 5px;
}
.user-widget-system-label.horizontal{
    text-align: center;
}

.user-widget-system-label.shadow{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.user-box-notification.horizontal{
    margin-left: 200px;
}

.user-box-notification .bttn{
    padding-left: 10px;
}